body{
  font-family: 'open-sans';
}

li{
  font-family: 'arial';
}

@font-face {
  font-family: 'open-Sans';
  src: url('./assets/fonts/Sora-Regular.ttf'),
      url('./assets/fonts/Sora-Bold.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LangscapeDevPriya ';
  src: url('./assets/fonts/LSDPRI-N.TTF'),
      url('./assets/fonts/LSDPRI-B.TTF');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
